.liberdade-bg {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 150px;
}

.liberdade h2 {
  display: block;
  font-size: 2rem;
  padding-top: 40px;
  text-align: center;
}

.liberdade-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
}

.liberdade-informacao {
  display: grid;
  gap: 30px;
}

.liberdade-informacao p {
  font-size: 1.2rem;
}

.liberdade-conteudo img {
  width: 90%;
  padding-left: 30px;
  border-radius: 5px;
}

@media (max-width: 980px) {
  .liberdade-conteudo {
    grid-template-columns: 1fr;
  }
  .liberdade-bg {
    padding-top: 0px;
  }
  .liberdade-conteudo {
    margin-top: 50px;
  }
  .liberdade-conteudo img {
    grid-row: 1;
    max-width: 50%;
    justify-self: center;
  }
  .liberdade-informacao {
    padding-top: 50px;
  }
}

@media (max-width: 780px) {
  .liberdade h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  .liberdade h2 {
    font-size: 1.3rem;
  }
  .liberdade p {
    font-size: 1rem;
  }
}